{% extends '@layout/default.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <fieldset id="login" class="well">
                {% if error is defined and errorInput is not defined %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group{% if errorInput is defined and errorInput == "name" %} has-error{%  endif %}">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="{{ name | default('') }}" placeholder="Name" class="form-control" />
                        {% if errorInput is defined and errorInput == "name" %}
                            <span class="help-block">{{ error | default('') }}</span>
                        {%  endif %}
                    </div>
                    <div class="form-group{% if errorInput is defined and errorInput == "password" %} has-error{%  endif %}">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
                        {% if errorInput is defined and errorInput == "password" %}
                            <span class="help-block">{{ error | default('') }}</span>
                        {%  endif %}
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </fieldset>
        </div>
    </div>
{% endblock %}
