<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}{% if cooArchiName is defined and cooArchiName is not empty %}{{ cooArchiName|escape }}{% else %}cooArchi{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    {% block stylesheets %}{% endblock %}
</head>
<body class="app">
    <div class="base"></div>
    <div class="gradientlayer"></div>

    <div class="main_btn" id="help">
        <svg class="img_logo"
             width="300"
             height="300"
             viewBox="0 0 79.375 79.375002"
             version="1.1"
             id="svg5"
             inkscape:version="1.1 (c68e22c387, 2021-05-23)"
             sodipodi:docname="cooarchi_background5.svg"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview
                    id="namedview7"
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1.0"
                    inkscape:pageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:document-units="mm"
                    showgrid="false"
                    units="px"
                    inkscape:zoom="1.0985947"
                    inkscape:cx="352.26821"
                    inkscape:cy="263.51846"
                    inkscape:window-width="1347"
                    inkscape:window-height="1041"
                    inkscape:window-x="535"
                    inkscape:window-y="28"
                    inkscape:window-maximized="0"
                    inkscape:current-layer="layer1"
                    width="300px" />
            <defs id="defs2" />
            <g inkscape:label="Ebene 1" inkscape:groupmode="layer" id="layer1">
                <circle id="path114" style="fill:#000000;stroke:#000000;stroke-width:0.264583" cx="42.574539" cy="-33.037842" r="0.34025624" />
                <rect style="fill:#ff0000;stroke-width:0.110702" id="rect573" width="79.723053" height="79.358948" x="114.97946" y="60.932011" />
                <path style="stroke-width:0.264583" id="path1734" d="m 11.937239,29.696275 c 1.846786,-0.582877 3.580581,-1.471528 5.280682,-2.386301 1.872398,-1.081469 3.752392,-2.147724 5.599983,-3.271437 0.958139,-0.517116 1.89104,-1.090386 2.874013,-1.560833 0.333789,-0.15975 0.682316,-0.286725 1.021734,-0.434139 0.256934,-0.115923 0.512577,-0.234748 0.7708,-0.347768 0.515935,-0.225815 1.028329,-0.464907 1.548185,-0.681345 0.03984,-0.01659 -0.07259,0.04716 -0.111567,0.06567 -0.08526,0.02773 -0.32449,0.02559 -0.255791,0.0832 0.07467,0.06261 0.190593,-0.04099 0.286663,-0.05731 0.04618,-0.0078 0.09307,-0.01081 0.139716,-0.01511 0.431453,-0.0398 0.858131,-0.07698 1.290111,-0.124398 0.458533,-0.05403 0.916162,-0.116132 1.375508,-0.163207 0.08582,-0.0088 0.343929,-0.02082 0.257712,-0.0239 -0.582258,-0.02086 -1.186995,0.129063 -1.74765,-0.02946 -1.090742,-0.308399 -2.08144,-0.898295 -3.12216,-1.347443 -1.219451,-1.148891 -0.519904,-0.427044 -1.07513,-1.068149 -0.02957,-0.03414 -0.178254,-0.149238 -0.188988,-0.190982 -0.06775,-0.263452 -0.110466,-0.532714 -0.165699,-0.799072 -0.01664,-0.109194 0.03103,-0.252426 -0.04991,-0.327583 -0.05131,-0.04764 -0.07803,0.116614 -0.110471,0.178663 -0.07062,0.135045 -0.128443,0.276499 -0.198349,0.411913 -0.303734,0.588359 -0.638582,1.158538 -0.988836,1.719974 -0.950503,1.575891 -2.099459,3.021568 -3.190403,4.500941 -1.528427,2.048376 -3.156151,4.019978 -4.717632,6.044229 -1.666107,2.129287 -3.323895,4.262392 -4.897563,6.461215 -1.307135,1.857951 -2.3278299,3.88925 -3.2967632,5.937191 -0.8893796,2.146837 -1.8570323,4.587751 -1.5103935,6.967265 0.1452899,0.997345 0.5542306,1.938055 0.8313457,2.907083 0.8851744,1.034132 1.5465663,2.31298 2.655523,3.102396 2.926499,2.083242 6.131112,1.645245 9.249511,0.706416 1.198703,-0.36835 2.32378,-0.894755 3.434963,-1.469837 1.177146,-0.666927 2.445874,-1.138039 3.692978,-1.653939 2.082441,-0.864804 4.142478,-1.7828 6.212224,-2.677523 2.231527,-0.966647 4.416906,-2.037151 6.564963,-3.176299 2.137669,-1.070893 4.171225,-2.328958 6.248315,-3.508576 2.112463,-1.18123 4.191815,-2.410666 6.148113,-3.83753 1.492628,-1.101802 2.910374,-2.298959 4.356494,-3.460506 0.997463,-0.760138 1.959409,-1.569543 2.985283,-2.291924 0.680236,-0.494467 1.398638,-0.933464 2.118844,-1.367129 0.289073,-0.06223 0.874387,-0.467712 1.19675,-0.638077 0.06794,-0.0359 0.136885,-0.0701 0.207402,-0.100618 0.0097,-0.0042 0.04008,-0.0088 0.03144,-0.0028 -0.03419,0.02379 -0.07382,0.03861 -0.110726,0.05791 1.276858,-0.33555 -0.893021,0.07273 0.209979,0.01045 -0.115803,-0.01169 0.497721,-0.0044 0.373451,-0.01281 -0.460361,-0.03134 -0.927293,0.0013 -1.382201,-0.07592 -0.622578,-0.105778 -1.687984,-0.439846 -2.250284,-0.845622 -0.51457,-0.371334 -0.967203,-0.821708 -1.450803,-1.232564 -0.298784,-0.445169 -0.597564,-0.890341 -0.896345,-1.33551 -0.01963,0.01849 -0.07691,-0.104302 -0.0803,-0.06914 -0.02487,0.25795 0.09103,0.862883 0.114858,1.13815 -0.0048,0.05609 0.0066,0.220517 -0.01442,0.16828 -0.04628,-0.115141 -0.05641,-0.41879 -0.03914,-0.549375 0.0092,-0.06917 0.05175,-0.136951 0.03929,-0.205608 -0.0055,-0.03047 -0.04298,0.0446 -0.06447,0.0669 -0.818507,1.356839 -1.674135,2.687836 -2.559116,4.002355 -0.911857,1.393201 -1.992593,2.658523 -3.04061,3.947737 -1.23833,1.299231 -2.467433,2.618655 -3.80964,3.812209 -1.570215,1.323565 -3.18412,2.594306 -4.755166,3.918183 -1.914837,1.612823 -3.552124,3.509634 -5.261885,5.328557 -1.435425,1.467488 -2.857524,2.946929 -4.266594,4.439759 -1.170736,1.261716 -2.281439,2.57752 -3.372416,3.908282 -2.18085,2.80198 -3.214077,5.510181 -2.127719,9.237451 0.321067,1.101574 1.183328,1.966195 1.774992,2.949291 0.665036,0.548069 1.28828,1.151203 1.995104,1.644203 0.447402,0.312058 0.954167,0.531194 1.449948,0.758685 1.565352,0.718262 3.240844,0.94483 4.936858,1.083577 3.12289,0.16061 6.157039,-0.682614 9.117727,-1.569974 2.752979,-0.917948 5.423609,-2.05767 8.070429,-3.241492 1.519698,-0.664607 3.017142,-1.402292 4.629542,-1.815859 1.790176,-0.414605 3.54191,-0.966341 5.293574,-1.516319 0.156443,-0.05179 0.958445,-0.318659 1.193503,-0.392319 0.100174,-0.03139 0.405281,-0.108352 0.302118,-0.08892 -0.460492,0.08675 -0.907881,0.258106 -1.37531,0.291092 -1.064771,0.07514 -1.299972,-0.01775 -2.102215,-0.214564 C 61.719849,64.843568 60.87745,63.965533 60.010551,62.674496 59.90367,62.51532 59.838008,62.332 59.756239,62.158582 c -0.03516,-0.07456 -0.02862,-0.180755 -0.09634,-0.227769 -0.04544,-0.03155 0.0047,0.110537 0.0071,0.165804 0.05159,0.649409 0.04419,1.301345 0.04236,1.952204 -0.0062,1.093036 0.0019,0.185346 -0.0061,0.167198 -0.02408,-0.05507 -0.006,0.121169 -0.02283,0.178872 -0.01019,0.03488 0.01482,-0.143124 0.0024,-0.108964 -0.0279,0.07702 -0.02598,0.162298 -0.0501,0.240578 -0.01505,0.04887 0.01513,-0.101137 0.0227,-0.151707 -0.02122,0.07052 -0.08645,0.281604 -0.06368,0.211564 0.39142,-1.204339 -0.337724,0.652158 0.440063,-1.00429 0.02096,-0.04463 -0.06688,0.07246 -0.100319,0.108688 -0.645493,0.827426 -1.27126,1.669775 -1.921201,2.493754 -0.240802,0.305284 -0.251991,0.390562 -0.223361,0.243086 -0.08869,0.09435 -0.177387,0.188695 -0.266081,0.283043 -7.264823,7.728021 3.664249,18.00203 10.929073,10.274009 v 0 c 0.09173,-0.09758 0.183459,-0.19516 0.275187,-0.292738 1.042763,-1.151033 1.981322,-2.384764 2.91505,-3.625281 1.105762,-1.412682 2.024634,-2.937362 2.471862,-4.69097 0.357589,-1.403821 0.631264,-2.832637 0.597238,-4.289679 0.0029,-1.305232 -0.0082,-2.612847 -0.165867,-3.910676 -0.200059,-1.404422 -0.416867,-2.873592 -1.086877,-4.149503 -1.223983,-2.330847 -2.578406,-3.687889 -5.004204,-4.721484 -1.478611,-0.474136 -1.974178,-0.727647 -3.766746,-0.709446 -1.405186,0.01426 -2.672019,0.416441 -3.965893,0.864984 -1.626161,0.510587 -3.251816,1.020588 -4.914754,1.402842 -0.538038,0.159573 -1.080894,0.303712 -1.614112,0.478716 -1.722636,0.565374 -3.364804,1.349666 -5.025281,2.069036 -2.068661,0.925293 -4.151236,1.822908 -6.289942,2.577005 -1.216314,0.373001 -2.464446,0.743846 -3.706548,0.965223 -0.09323,-0.0028 -0.186942,-0.01828 -0.279675,-0.0083 -0.01699,0.0019 0.02249,0.02736 0.03811,0.03427 0.102973,0.04559 0.212151,0.07624 0.315018,0.122071 0.720685,0.321056 1.25622,0.944097 1.797756,1.486287 0.389695,0.750771 0.989754,1.425657 1.16908,2.252313 0.247346,1.140187 0.169381,2.336069 0.07862,3.499241 -0.03262,0.418 -0.276905,0.792279 -0.443508,1.177026 -0.05082,0.117364 -0.131831,0.219522 -0.206259,0.32353 -0.03062,0.04279 -0.130236,0.162914 -0.107783,0.115329 0.03891,-0.08248 0.105706,-0.148635 0.158559,-0.222951 0.859558,-1.057879 1.744668,-2.095948 2.66427,-3.102131 1.419643,-1.504027 2.854772,-2.992094 4.298177,-4.473321 1.308021,-1.396577 2.554002,-2.858207 3.992788,-4.124786 1.709248,-1.443013 3.47986,-2.810285 5.167053,-4.278632 1.882439,-1.727129 3.687061,-3.545904 5.373679,-5.465284 1.326708,-1.637832 2.68092,-3.256166 3.836911,-5.023601 1.119402,-1.662724 2.196023,-3.351927 3.218196,-5.076071 0.545798,-1.023234 0.790853,-1.397609 1.191323,-2.536378 0.639125,-1.817399 0.864376,-3.749143 0.71813,-5.666483 -0.153149,-1.543547 -0.354682,-3.066547 -0.816523,-4.554374 -0.113908,-0.366954 -0.223107,-0.73957 -0.397261,-1.082062 -0.386281,-0.759665 -0.852485,-1.47597 -1.278726,-2.213955 -0.630584,-0.589313 -1.211128,-1.237211 -1.891755,-1.76794 -0.404143,-0.315135 -0.869013,-0.552124 -1.340668,-0.752583 -1.513527,-0.643271 -3.119162,-0.893186 -4.750734,-0.734801 -1.449982,0.115484 -2.90849,0.308193 -4.264501,0.866878 -1.366462,0.530982 -2.650196,1.212396 -3.924824,1.93348 -1.043066,0.633709 -2.082699,1.277131 -3.070981,1.994284 -1.251434,0.900829 -2.455458,1.864415 -3.671115,2.812395 -0.917805,0.741358 -0.403585,0.331146 -1.546551,1.225742 -0.778898,0.628404 -1.503558,1.321888 -2.343351,1.873979 -1.436954,1.114787 -3.084631,1.918776 -4.638976,2.852166 -1.948545,1.114858 -3.861903,2.291897 -5.869879,3.299907 -1.784255,0.95672 -3.610483,1.83642 -5.46571,2.646889 -1.996709,0.863695 -3.984245,1.74939 -5.992937,2.584754 -1.663952,0.688462 -3.341746,1.35187 -4.919312,2.227405 -0.156498,0.08249 -1.226991,0.625568 -0.08755,0.09778 0.111116,-0.05147 -0.228134,0.08918 -0.340856,0.137033 -0.01116,0.0047 -0.02006,0.01363 -0.03009,0.02043 -0.137974,0.04907 -0.275948,0.09814 -0.413923,0.147214 -0.07623,0.02766 -0.151801,0.0571 -0.227703,0.08565 0.130516,0.0094 0.08428,-0.0013 -0.128681,0.06101 0.596383,0.06136 0.787825,-0.159509 1.430152,0.0783 3.618805,1.339768 2.600232,0.915656 5.028916,4.013739 0.170832,0.739688 0.434759,1.463892 0.512497,2.219061 0.05036,0.489214 -0.07588,0.980919 -0.132802,1.469416 -0.0042,0.03619 -0.04106,0.132691 -0.04976,0.09731 -0.06171,-0.250928 0.278918,-0.712126 0.307115,-0.956204 0.579013,-1.234051 1.167932,-2.469742 1.927814,-3.605228 1.468667,-2.052873 3.022563,-4.039182 4.575995,-6.028473 1.627418,-2.109838 3.326035,-4.163171 4.912971,-6.303206 1.356353,-1.839293 2.767481,-3.646765 3.937027,-5.614334 1.773634,-2.957172 3.304122,-6.066557 3.527203,-9.573348 -0.048,-0.812761 -0.04264,-1.630452 -0.14398,-2.438312 C 40.360129,13.431579 39.337226,10.960185 38.312431,9.6263834 37.841036,9.012847 37.2819,8.4720125 36.766634,7.8948268 35.507213,7.2628238 34.326099,6.4415939 32.988369,5.9988179 31.629807,5.5491467 30.071917,5.9248161 28.684828,6.0628027 27.278785,6.2360201 25.85627,6.3223991 24.49351,6.7484468 23.202392,7.1731015 21.967697,7.7277155 20.730544,8.2884644 18.763856,9.1449759 16.861452,10.127079 15.01806,11.225926 c -1.627148,0.991598 -3.286364,1.925988 -4.931168,2.887498 -0.9336788,0.507651 -1.8743135,1.042103 -2.8931189,1.35261 -10.062253,3.354097 -5.3188377,17.584342 4.7434659,14.230241 z" />
            </g>
        </svg>
        <div class="logo_text" title="Learn how to use cooArchi"><a href="{{ path('help') }}">???</a></div>
    </div>

    <div class="main_btn" id="account">
        <svg class="img_logo"
             width="300"
             height="300"
             viewBox="0 0 79.375 79.375002"
             version="1.1"
             id="svg5"
             inkscape:version="1.1 (c68e22c387, 2021-05-23)"
             sodipodi:docname="cooarchi_background3.svg"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview
                    id="namedview7"
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1.0"
                    inkscape:pageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="0"
                    inkscape:document-units="mm"
                    showgrid="false"
                    units="px"
                    inkscape:zoom="1.0985947"
                    inkscape:cx="352.26821"
                    inkscape:cy="263.51846"
                    inkscape:window-width="1347"
                    inkscape:window-height="1041"
                    inkscape:window-x="535"
                    inkscape:window-y="28"
                    inkscape:window-maximized="0"
                    inkscape:current-layer="layer1"
                    width="300px" />
            <defs id="defs2" />
            <g inkscape:label="Ebene 1" inkscape:groupmode="layer" id="layer1">
                <path style="stroke-width:0.264583" id="path1322" d="m 55.23526,4.2567404 c -1.258681,1.1758049 -2.651929,2.1862479 -4.181263,2.9837441 -0.65694,0.3425711 -1.333678,0.6457574 -2.000515,0.9686361 -6.006597,2.4575294 -12.278156,4.1804534 -18.542854,5.8364454 -1.152044,0.308737 -2.840318,0.729093 -3.993581,1.150281 -0.576129,0.21041 -1.183221,0.377406 -1.695706,0.714386 -1.022209,0.672144 -2.730251,1.072324 -2.869942,2.287716 -0.420795,3.661182 -0.06659,7.569737 1.345757,10.973644 0.55044,1.326615 2.623621,1.169688 3.93543,1.754534 0.959577,0.168558 1.915491,0.3595 2.878733,0.505677 1.676455,0.254415 4.558178,0.560083 6.200425,0.731258 2.985918,0.311232 5.975004,0.584874 8.965764,0.844343 2.744337,0.259025 5.500769,0.472239 8.21469,0.970587 1.040498,0.132305 2.03436,0.445384 3.044219,0.711894 0.333904,0.183798 0.757016,0.127288 1.107639,0.274854 0.05607,0.0236 -0.125913,-0.0061 -0.178927,-0.03592 -0.813441,-0.457755 -1.981388,-0.594124 -2.412138,-1.422178 -3.434236,-6.601809 -2.841035,-5.898208 -0.285062,-10.347456 -0.225827,0.0634 -0.455626,0.114079 -0.677487,0.190213 -3.536791,1.213679 -1.581703,0.713426 -5.944758,1.925343 -4.316225,1.19891 -8.695812,2.159552 -13.059696,3.16437 -4.963983,1.253281 -9.998365,2.278883 -14.869386,3.877527 -0.731148,0.239959 -1.452039,0.510109 -2.178059,0.765165 -3.07273,1.086614 -6.017692,2.47411 -8.8949659,3.995647 -2.851939,1.547545 -8.008159,3.947094 -6.7534115,8.399592 2.3849063,8.462891 6.1265223,7.687508 11.4129334,7.846878 11.061187,-0.286544 22.121856,-0.589309 33.184183,-0.831562 4.806953,-0.06372 9.616377,-0.178321 14.397696,-0.704191 1.126937,-0.156996 2.245545,-0.355627 3.350437,-0.627679 0.245962,-0.06056 0.489025,-0.132355 0.733783,-0.197617 0.36476,-0.09726 0.237633,-0.115097 0.390361,-0.08829 -0.131173,-0.01188 0.178297,-0.0088 0.134244,-0.0011 -0.478645,0.08538 -0.550222,0.07001 -0.912125,0.01582 -0.260069,-0.08034 -0.547393,-0.09999 -0.780214,-0.241009 -3.960645,-2.398911 -4.234801,-3.052088 -3.789904,-9.666311 0.07437,-1.10559 1.377902,-1.7374 2.013836,-2.644838 0.02921,-0.04168 -0.105648,-0.03194 -0.152265,-0.01151 -0.558657,0.244906 -1.097275,0.533196 -1.645912,0.799796 -0.794517,0.376087 -1.588429,0.753462 -2.383555,1.128265 -2.633792,1.241505 -3.708061,1.759876 -6.431848,2.947826 -3.465785,1.511568 -6.978399,2.910293 -10.487298,4.31745 -5.261364,2.0525 -10.639726,3.780509 -15.938056,5.732386 -2.019046,0.829508 -4.13964,1.523079 -5.985639,2.719715 -0.402124,0.260668 -0.875103,0.460476 -1.165544,0.841653 -0.988932,1.297884 -1.749558,2.754818 -2.624336,4.132225 0.663941,2.446081 0.625472,5.203479 1.991822,7.33824 0.849858,1.327804 2.683842,1.691206 4.15315,2.262566 0.928975,0.361244 5.466611,0.70983 6.238813,0.774573 2.788473,0.233791 5.579687,0.433681 8.369255,0.65401 3.705177,0.307253 7.406216,0.667391 11.098911,1.100199 1.666261,0.195297 3.160903,0.360706 4.794991,0.690581 0.616804,0.124515 1.223838,0.293312 1.835755,0.439965 2.457757,0.793636 1.230286,0.34676 3.679955,1.347372 9.861227,3.905909 15.385018,-10.039972 5.523791,-13.945883 v 0 C 59.529704,60.10508 61.47132,60.774084 57.575402,59.59131 56.65575,59.383546 55.741852,59.148408 54.81644,58.968017 52.91197,58.596781 51.151213,58.39216 49.223951,58.166835 c -3.852469,-0.45041 -7.713546,-0.82569 -11.57894,-1.145886 -2.738688,-0.216294 -5.478359,-0.420124 -8.216667,-0.641176 -0.892714,-0.07206 -1.783984,-0.161634 -2.676943,-0.230602 -0.273449,-0.02111 -1.017042,-0.232276 -0.821835,-0.03962 4.996579,4.93114 1.504519,-3.060404 4.254656,8.775506 -1.74929,2.562342 -1.358871,3.042346 -3.001312,3.969592 -0.03261,0.01841 0.04972,-0.05795 0.08223,-0.07653 0.182208,-0.104116 0.367874,-0.202927 0.558898,-0.289819 0.870921,-0.39615 1.985899,-0.820795 2.851057,-1.162881 5.429665,-2.00334 10.947151,-3.762287 16.333234,-5.884444 6.845234,-2.745835 13.667031,-5.555488 20.281993,-8.827524 2.030841,-0.989369 6.439357,-2.85074 6.830454,-5.323562 1.033026,-6.531599 0.212926,-7.89596 -3.87799,-10.414746 -0.419645,-0.258373 -0.926576,-0.335992 -1.389864,-0.503989 -0.374298,-0.08411 -0.746067,-0.180409 -1.122897,-0.252325 -1.60768,-0.306819 -3.264347,-0.253172 -4.86551,0.05769 -1.053463,0.229463 -2.0817,0.549638 -3.150704,0.704924 -4.332769,0.498737 -8.699349,0.528297 -13.054956,0.614403 -10.898677,0.238712 -21.796036,0.52642 -32.693099,0.828849 -5.608038,0.178298 2.440922,-0.563112 3.422053,7.418173 0.552462,4.494157 -6.303697,7.3782 -2.312646,5.174451 0.365351,-0.201737 0.735518,-0.394626 1.103277,-0.591936 2.221876,-1.186389 4.49917,-2.261632 6.875433,-3.106989 5.012473,-1.802601 10.235311,-2.88843 15.398464,-4.16202 4.69828,-1.082183 9.418415,-2.110854 14.057762,-3.430722 2.573438,-0.732129 5.851845,-1.733733 8.320601,-2.876035 1.06526,-0.492897 2.05536,-1.134197 3.083038,-1.701297 1.132137,-1.452999 3.167105,-2.531329 3.396412,-4.358994 0.340029,-2.710164 -0.665748,-5.520814 -1.847914,-7.983148 C 64.806406,21.340155 61.86266,20.52712 60.308992,20.171936 58.93237,19.825359 57.57102,19.416294 56.160942,19.217199 52.989625,18.649793 49.780388,18.344491 46.572767,18.063323 41.453546,17.62006 36.336729,17.135318 31.240783,16.471454 c 4.019692,2.821602 3.529308,1.867185 2.139796,11.440997 -0.214048,1.474804 -4.265062,2.096413 -1.179137,1.209178 0.7116,-0.204592 1.430367,-0.383376 2.145549,-0.575067 7.236309,-1.915901 14.485302,-3.91978 21.369573,-6.898686 0.994185,-0.500667 2.005689,-0.96833 2.982555,-1.502003 2.207321,-1.205885 4.280199,-2.671677 6.138905,-4.36593 C 72.98624,8.9897639 63.383477,-2.5335525 55.23526,4.2566267 Z" />
            </g>
            <div class="logo_text" title="Learn how to use cooArchi">
            {% if identity is defined and identity is not empty %}
                <a href="{{ path('logout') }}">Log<br>Out</a>
            {% else %}
                <a href="{{ path('login') }}">Log<br>In</a>
            {% endif %}
            </div>
        </svg>
    </div>

    <header class="app-header"></header>

    <div class="app-content">
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer class="app-footer">
        <div class="container">
            {% block footer %}{% endblock %}
            {% if identity is defined and identity is not empty and identity.role == "administrata" %}
                <nav class="admin_nav">
                    <span>Admin:</span>
                    <ul>
                        <li><a href="{{ path('users') }}">Users</a></li>
                        <li><a href="{{ path('invitations') }}">Invitations</a></li>
                        <li><a href="{{ path('content-management') }}">Content Management</a></li>
                        <li><a href="{{ path('file-management') }}">File Management</a></li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </footer>

    {% block javascript %}{% endblock %}
</body>
</html>
