{% extends '@layout/default.html.twig' %}

{% block title %}Registration - cooArchi{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Registration - cooArchi</h1>
            </div>
            {% if error is defined and errorInput is not defined %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            {% if success is defined %}
                <div class="alert alert-success" role="alert">{{ success }}</div>
            {% endif %}
        </div>
    </div>
    {% if error is not defined %}
    <div class="row">
        <div class="col-md-12">
            <fieldset id="registration">
                <form action="{{ path('register', {'invitationHash': invitationHash}) }}" method="post">
                    <div class="form-group{% if errorInput is defined and errorInput == "identifier" %} has-error{%  endif %}">
                        <input type="text" id="identifier" name="identifier" value="{{ identifier | default('') | escape }}" placeholder="Identifier" class="form-control" />
                        {% if errorInput is defined and errorInput == "identifier" %}
                            <span class="help-block">{{ error | default('') | escape }}</span>
                        {%  endif %}
                    </div>
                    <button type="submit" class="btn btn-dark">Create</button>
                </form>
            </fieldset>
        </div>
    </div>
    {% endif %}

{% endblock %}
